<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTI Conforms To</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTI File Extension</key>
			<string>synced</string>
			<key>UTI Identifier</key>
			<string>com.fezerapps.synced</string>
			<key>UTI Type Name</key>
			<string>Synced File</string>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Synced Files</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.fezerApps.synced</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>synced</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.fezerApps.synced</string>
			<key>UTTypeDescription</key>
			<string>Synced File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>synced</string>
				</array>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
